import React from "react";
import { withRouter } from "react-router-dom";
{{#if mobxName}}
import { MobXProviderContext } from "mobx-react";
import { toJS } from "mobx";
{{/if}}
{{#if needApi}}
import services from "../../services/services";
{{/if}}
import style from "./style/{{ properCase name }}Style.less";

const {{ properCase name }} = props => {
  const { history } = props;
  {{#if mobxName}}
  const { {{ properCase mobxName }} } = React.useContext(MobXProviderContext);
  const {{ camelCase mobxName }} = toJS({{ properCase mobxName }});
  {{/if}}
  return (<div className={style.container}><span>{{ properCase mobxName }}</span></div>);
}

export default withRouter({{ properCase name }});
